<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="1" name="chat testing suite" parallel="tests">
  <test name="Test">
    <classes>
      <class name="tests.creategroupchat_test"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="Test1">
    <classes>
      <class name="tests.chatfunc_test"/>
    </classes>
  </test> <!-- Test -->

  
</suite> <!-- Suite -->
